body,
html {
    height: 100%;
    margin: 0;
}

h1 {
    font-size: 32px;
}

p {
    font-size: 20px;
}

a:link {
    color: brown;
    text-decoration: none;
}

.background {
    height: 100%;
    background-image: linear-gradient(#c2e58c, #64b3f4);
}

.middle {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    color: black;
    line-height: 1.5;
    text-align: justify;
    font-family: "Monaco", Monaco, monospace;
}
