html,
body {
    margin: 0;
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ffd194;
}

#game {
    width: 100%;
    height: 90%;
    background-image: linear-gradient(#70e1f5, #ffd194);
}

#status {
    width: 100%;
    height: 10%;
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    background-color: black;
    font-size: 1.8vh;
    text-align: center;
    vertical-align: middle;
}

.button {
    color: white;
    padding: 8px;
    border: 2px solid black;
    border-radius: 8px;
    background: url("image/blue_button.png") no-repeat;
}

.column {
    float: left;
}

.left,
.right {
    width: 20%;
}

.middle {
    width: 60%;
    font-size: 3.6vh;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
