html {
    margin: auto;
    height: 110%;
}

body {
    color: black;
    font: 0.9rem "Tahoma", "Arial", sans-serif;
}

h1,
h2 {
    padding: 0.8rem 1rem;
    border-radius: 1.6rem;
    background-image: linear-gradient(to right, #FFF194, #D1913C);
}

table {
    border: 0.1rem solid black;
}

th,
td {
    padding: 0.8rem 1rem;
    border: 0.1em solid black;
}

ul {
    list-style: none;
}

ul li::before {
    width: 1.2rem;
    content: "\279E";
    color: firebrick;
    display: inline-block;
}

a {
    color: firebrick;
    text-decoration: none;
}

#main {
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-image: url("background.jpg");
}

#main img {
    border: 2px solid black;
}

#wrapper {
    margin: 2rem;
    padding: 2rem;
    border-radius: 4rem;
    background-color: rgba(255, 255, 255, .85);
}

#header {
    font-family: "Courier New", monospace
}

#news {
    font-weight: bold;
}

#footer {
    font-size: small;
    text-align: center;
}

.altrow:nth-child(odd) {
    color: aliceblue;
    background-color: crimson;
}

.altrow:nth-child(even) {
    background-color: floralwhite;
}
